/*styling of navigation bar*/
.navigation_bar>ul>li {
    display: inline;
    text-align: center;
    padding: 14px 16px;
    background-color: cyan;
  }
  .navigation_bar{
    float: right;
  }
  /*styling of the main heading*/
  h1{
    text-align: center;
    background-color: cyan;
  }
  /*home section styling*/
  .pictures>.image {
    float: left;
    width: 25%;
    text-align: center;
  }
  .image>img{
    height:150px;
    width:270px;
  }
  .picture img{
    height: 400px;
    width: 1150px;
  }
  /*styling about section*/
  h2{
    color: cyan;
  }
  .about{
    background-color: gray;
    padding: 3px 2px 3px 2px;
    margin: 5px 3px 5px 3px;
    border: 2px solid cyan;
  }
  h3{
    color: aqua;
  }
  /*styling of hobbies and skills*/
  .hobbies{
    float: left;
    width: 50%;
  }
  #hobbies{
    background-color: yellowgreen;
    height: 200px;
  }
  .clubs{
    font-style: italic;
  }
  /*projects section*/
  .project{
    float: left;
    width: 18%;
    padding-left: 2%;
  }
  #project_list{
    background-color: gray;
    height: 320px;
  }
   /*styling of footer section*/
   .footer{
    text-align: center;
    background-color: lightgrey;
    border: 1px solid green;
    margin: 5px;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-google {
    background: #dd4b39;
    color: white;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
.fa-youtube {
    background: #bb0000;
    color: white;
  }
  
.fa-instagram {
    background: #125688;
    color: white;
  }
